:root {
    --primary-font-color: #eaebec;
    --secondary-font-color: #9FA8DA;
    --secondary-font-color-dark: #171718;
}

body {
    background: url(../static/img/picturest_bg.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.404);
    z-index: -1;
}

.signin-container {
    background: rgba(252, 248, 248, 0.603);
    backdrop-filter: blur(13px);
    max-width: 960px;
    border-radius: 10px;
    box-shadow:rgba(54, 54, 54, 0.459) 0px 5px 15px;
}

.picturest-text {
    color: var(--primary-font-color)
}

.image-column img {
    width: 100%;
    border-radius: 16px;
}

.image-column a:link, .image-column a:active, .image-column a:visited {
    color: var(--secondary-font-color-dark);
    text-decoration: none;
}

.image-column a:hover {
    color: #194aeb;
    text-decoration: underline;
}

.registration-form {
    padding: 0px 30px;
}

.btn {
  border-radius: 180px;
  background-color: rgb(219, 32, 32);
  border: 1px solid rgb(219, 32, 32);
  color: white;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(219, 32, 32);
  border: 1px solid rgb(219, 32, 32);
}
.registration-link-mobile, .sign-up-link-mobile {
    display: none;
}
@media (max-width: 768px) {
    .image-column {
        display: none;
    }

    .registration-form {
        padding: 0px 15px;
    }

    .container {
        width: 80%;
    }

    .row {
        padding: 20px 0px !important;
    }
    .picturest-text {
        font-size: 32px;
    }
    .picturest-logo {
        width: 65px;
        height: 65px;
        padding: 0px;
    }
    .registration-link-mobile, .sign-up-link-mobile {
        display: block;
        font-size: 14px;
        color: var(--secondary-font-color-dark);
        text-decoration: none;
        text-align: center;
    }
}
