{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picturest</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/picturest_logo.png' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery.waypoint.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
</head>

<body style="font-family: Poppins, arial;">
  
    <div class="main" style="margin: 0 0 50px;"> 

     {% include 'dashboard/navigationbar.html' %}

      <div class="card mt-5 upload-card" style="max-width: 860px; margin: auto;">
        <div class="card-body">
          <div class="col d-flex justify-content-center align-items-center text-center">

              <form method="POST" enctype="multipart/form-data" class="upload-form px-5" style="width: 100%; max-width: 500px; margin-top: 20px;">
                {% csrf_token %}
                {{ form.as_div }}
                <small style="display: flex ; align-items: end ; justify-content: end; font-size: 10px;"><span class="count-text" >0</span>/900</small>
                <div class="pt-3">
                <button type="submit" class="btn btn-main submit-button px-3"> Submit Image </button>
                </div>
              </form>
              

          </div>
        </div>
      </div>

      <div id="alertContainer" class="position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050;"></div>

      {% if messages %}
        <div class="messages" style="max-width: 960px; margin: 0 auto;">
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div> <!-- END OF MAIN -->

    {% if numbers %}

    <main role="main" style="padding-top: 40px;">   
      <section class="mt-4 mb-5">

        <div class="container-fluid-pin">
          <div class="row">

            <div class="infinite-container">

            <div class="card-columns col infinite-item">
      
            {% for image in numbers %}
            <div class="card card-pin" >
                <img class="card-img" src="{{image.image.url}}" alt="Card image">
                <div class="overlay activate-modal" data-img="{{image.id}}" data-bs-toggle="modal" data-bs-target="#viewPictureModal">
                  <h2 class="card-title title">{{ image.title }}</h2>
                  
                </div>

                <div class="dropstart more">
                        <i class="fa fa-ellipsis-v" data-bs-toggle="dropdown" aria-expanded="false" aria-hidden="true">
                        </i>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'download_image' image.id %}">Download Image</a></li>
                          <li><a class="dropdown-item img-bookmark {% if image.id in bookmark_lists %} marked {% else %} unmarked {% endif %}" data-image-id="{{image.id}}" data-image-uploader="{{image.uploader}}">{% if image.id in bookmark_lists %} Bookmarked! {% else %} Bookmark Image {% endif %}</a></li>
                        </ul>
                      </div>


              </div>

            {% endfor %}

            {% include 'dashboard/modals/image_modal.html' %}

            </div>

            </div>

          </div>
        </div>

        <div class="more-pins">

            {% if numbers.has_next %}
            <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
            {% endif %}

          <div class="loading" style="display: none;">
            <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
          </div>

        </div>

        <script>
          var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
              $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
              $('.loading').hide();
            }
          });
        </script>


      </section>
    </main>


    {% else %}

    <div class="container mt-5">
      <div class="alert alert-info text-center" role="alert">
        No images uploaded yet. Start uploading some pictures!
      </div>

    </div>

    {% endif %}

      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>



<script>
    document.querySelector('.infinite-container').addEventListener('click', function(e) {
    const bookmark_button = e.target.closest('.img-bookmark');
    if(bookmark_button){

    const alertContainer = document.getElementById('alertContainer');

    // Create a new alert element
    const alert = document.createElement('div');
    alert.className = 'alert alert-success alert-dismissible fade show';
    alert.role = 'alert';
    const data = {'image_id': bookmark_button.getAttribute('data-image-id'), 'image_uploader': bookmark_button.getAttribute('data-image-uploader')};

    fetch("/bookmark-image/", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken')
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
      bookmark_button.innerHTML = data['button'];
      alert.innerHTML = `
    ${data['message']}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  `;
    })
    .catch((error) => {
      console.error('Error:', error);
    });

    // Append to container
    alertContainer.appendChild(alert);
    // Auto-remove after 3 seconds
    setTimeout(() => {
      alert.classList.remove('show'); // triggers fade-out
      alert.addEventListener('transitionend', () => {
      alert.remove(); // remove from DOM after fade-out completes
      });
    }, 3000);

  }

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.startsWith(name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
      }


});
  </script>



<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/image_modal.js' %}"></script>
     
</body>
</html>